<div class="container">
  <div class="login-wrapper">
    <div class="login-element">
      <h1>Login</h1>
    <div class="login-element">
      <label for="username">User name:</label>
      <input type="text" id="username" [(ngModel)]="userName" />
    </div>
    <div class="login-element">
      <label for="password">Password: </label>
      <input type="text" id="password" [(ngModel)]="password" />
    </div>
    <div class="login-element">
      <button (click)="isLoggedIn()">Submit</button>
    </div>
  </div>
</div>

