.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  border-radius: 25px;
  padding: 30px;
  min-width: 300px;
}

.login-element {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}
.login-element h1{
  letter-spacing: 0.2em;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.login-element input {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  border: 1px solid black;
  padding: 5px;

}
.login-element label{
  font-weight: bold;
  margin-bottom: 5px;
}

button {
  width: 100%;
  border-radius: 15px;
  border: 1px solid black;
  padding: 6px;
  border-radius: 15px;
  background-color: #0d250e;
  color: white;
  font-weight: bold;
}

input[type="text"] {
  border-radius: 8px;
}
