<div class="nav">
  <ul class="nav-links">
    <a routerLink="/aca" routerLinkActive="nav-active">Dashboard</a>
    <a routerLink="/form" routerLinkActive="nav-active">Form</a>
    <a routerLink="/login" routerLinkActive="nav-active">Login</a>
    <a routerLink="/loggedin" routerLinkActive="nav-active">Logged In</a>
    <a routerLink="/lazy" routerLinkActive="nav-active">Lazy Module</a>
    <a routerLink="/permissions" routerLinkActive="nav-active">Permissions</a>
  </ul>
  <div class="container">
    <button (click)="logout()" class="btn btn-danger">logout</button>
  </div>

  <div class="user-info">
    <div></div>
  </div>
</div>
